:root {
    --dark_grayish_blue: hsl(210, 10%, 33%);
    --grayish_blue: hsl(201, 11%, 66%);
    --strong_cyan: hsl(171, 66%, 44%);
    --light_blue: hsl(233, 100%, 69%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

.quick-desc--desk, .access-desc--desk {
    display: none;
}

.logo-div {
    background-image: url('./images/bg-header-desktop.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 130px;
}

.history-div {
    padding: 30px;
}

.history-para {
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;
    color: var(--dark_grayish_blue);
    margin-top: 30px;
}

.clipboard-para {
    text-align: center;
    margin-top: 20px;
    color: var(--grayish_blue);
    line-height: 25px;
}

.button-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    height: 150px;
}

.ios-btn {
    background-color: var(--strong_cyan);
    font-family: 'Bai Jamjuree', sans-serif;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;

}

.mac-btn {
    background-color: var(--light_blue);
    font-family: 'Bai Jamjuree', sans-serif;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;

}

.track-para {
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;
    color: var(--dark_grayish_blue);
    margin-top: 150px;
}

.second-section {
    padding: 30px;
    width: 100%;
}

.computer-img {
    width: 100%;
}

.quick-para {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--dark_grayish_blue);
    margin-top: 30px;
}

.quick-desc {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 20px;
    color: var(--grayish_blue);
    line-height: 25px;
}

.third-section {
    padding: 30px;
}

.access-para {
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;
    color: var(--dark_grayish_blue);
    margin-top: 150px;
}

.access-desc {
    text-align: center;
    margin-top: 20px;
    color: var(--grayish_blue);
    line-height: 25px;
}

.fourth-section, .fifth-section {
    padding: 30px;
}

.img-device {
    width: 100%;
}

.supercharge {
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;
    color: var(--dark_grayish_blue);
}

@media (min-width: 1024px) {
    .first-section, .button-div, .computer-img, .quick-para, .quick-desc, .third-section, .access-desc, .fourth-section, .supercharge {
        display: none;
    }

    .first-section--desk, .button-div--desk, .computer-img--desk, .quick-para--desk, .quick-desc--desk, .third-section--desk, .access-desc--desk, .fourth-section--desk, .supercharge--desk {
        display: block;
    }

    .history-para--desk {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
        color: var(--dark_grayish_blue);
        margin-top: 30px;
    }

    .clipboard-para--desk {
        padding-left: 323px;
        padding-right: 323px;
        text-align: center;
        margin-top: 20px;
        color: var(--grayish_blue);
        line-height: 25px;
        font-size: 1.16rem;
    }

    .button-div--desk {
        margin-top: 40px;
        text-align: center;
    }

    .ios-btn--desk {
        background-color: var(--strong_cyan);
        font-family: 'Bai Jamjuree', sans-serif;
        border: none;
        padding: 13px 30px;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 50px;
        margin-right: 10px;
    
    }

    .mac-btn--desk {
        background-color: var(--light_blue);
        font-family: 'Bai Jamjuree', sans-serif;
        border: none;
        padding: 13px 30px;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 50px;
        margin-left: 10px;
    
    }

    .track-para--desk {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
        color: var(--dark_grayish_blue);
        margin-top: 100px;
    }

    .second-section-one {
        width: 50%;
        float: left;
    }

    .computer-img--desk {
        transform: translateX(-11%);
    }

    .quick-para--desk {
        text-align: left;
    }

    .quick-desc--desk {
        font-size: 0.9rem;
        margin-top: 20px;
        color: var(--grayish_blue);
        line-height: 25px;
    }

    .second-section-two {
        width: 50%;
        float: right;
        padding: 60px;
    }

    .third-section--desk {
        width: 100%;
        margin-top: 500px;
    }

    .access-desc--desk {
        padding-left: 275px;
        padding-right: 275px;
        text-align: center;
        margin-top: 20px;
        color: var(--grayish_blue);
        line-height: 25px;
        font-size: 1.16rem;
    }

    .fourth-section--desk {
        padding-left: 150px;
        padding-top: 150px;
        padding-right: 150px;
    }

    .supercharge--desk {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
        color: var(--dark_grayish_blue);
    }
}